[submodule "external/lib/bling"]
	path = external/lib/bling
	url = https://github.com/BlingCorp/bling
[submodule "external/lib/layout-machi"]
	path = external/lib/layout-machi
	url = https://github.com/xinhaoyuan/layout-machi
[submodule "external/lib/lain"]
	path = external/lib/lain
	url = https://github.com/lcpz/lain
[submodule "external/lib/vicious"]
	path = external/lib/vicious
	url = https://github.com/vicious-widgets/vicious
[submodule "external/lib/revelation"]
	path = external/lib/revelation
	url = https://github.com/guotsuan/awesome-revelation
[submodule "external/lib/switcher"]
	path = external/lib/switcher
	url = https://github.com/berlam/awesome-switcher
